@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --background-secondary: #041018;
  --foreground: #052029;

  --primaryGreen-light: #00BB77;
  --primaryGreen-dark: #003522;

  --text-title: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #052029;
  color: #9FD1D4
}

.horizontal-scroll {
  overflow-x: auto; /* Use 'auto' to only show scrollbar when needed */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: lightgray transparent; /* For Firefox */
}

/* For WebKit browsers (Chrome, Safari) */
.horizontal-scroll::-webkit-scrollbar {
  height: 6px; /* Adjust height for thickness */
}

.horizontal-scroll::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

.horizontal-scroll::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 3px; /* Rounded corners */
}

.horizontal-scroll::-webkit-scrollbar-thumb:hover {
  background-color: darkgray; /* Slightly darker on hover */
}


/* Optional: Style the scrollbar button (arrows) */
.horizontal-scroll::-webkit-scrollbar-button {
    display: none; /* Hide the arrows if you don't want them */
}

.vertical-scroll {
  overflow-y: scroll; /* Use 'auto' to only show scrollbar when needed */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: lightgray transparent; /* For Firefox */
}

/* For WebKit browsers (Chrome, Safari) */
.vertical-scroll::-webkit-scrollbar {
  height: 6px; /* Adjust height for thickness */
}

.vertical-scroll::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

.vertical-scroll::-webkit-scrollbar-thumb {
  background-color: lightgray;
  border-radius: 3px; /* Rounded corners */
}

.vertical-scroll::-webkit-scrollbar-thumb:hover {
  background-color: darkgray; /* Slightly darker on hover */
}


/* Optional: Style the scrollbar button (arrows) */
.vertical-scroll::-webkit-scrollbar-button {
    display: none; /* Hide the arrows if you don't want them */
}